#languagesusedinbd{
    float: right;
    width: 50%;
}

#applicationofbd{
    float: left;
}

button.calculatechances:hover, button.calculatechances:focus, select:hover, select:focus{
    box-shadow: 0 0 5px rgba(0,0,0, .75);
}

button.calculatechances, select{
    background-color: lightblue;
    border-radius: 10px;
}

section>header{
    color: dimgray;
    font-weight: bolder;
    text-shadow: 0px 4px 3px dodgerblue;
}

p {
    font-size: 1.1em;
    width: 50%;
}

section>h2{
    alignment: center;
}