body,
html {
  scroll-behavior: smooth;
  animation: fadeIn 1s ease-in-out;
}

.container {
  padding: 5% 0 5% 0;
}

footer {
  padding: 1%;
  background-color: #f5f5f5;
}
ul.horizontal-list>li{
  display:inline;
}

table{
  margin-left: auto;
  margin-right: auto;
}
thead,tbody, tfoot, tr, td, th{
  border:1px solid darkgrey;
  border-collapse: collapse;
  padding:5px;
  margin:5px;
}

table th{
  text-align: center;
  background-color: cadetblue;
}
tr:hover {
  background-color: #f5f5f5;
}

nav>img{
  margin-right: 10px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
